doctype 5
html
  head
    title Thank you Mom.

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Javascripts
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/main.js')

  body
    block content