doctype 5
html
  head
    title Dear Mom

    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Javascripts 
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/main.js')

  body
    block content