.message {
	position: fixed;
	left: 0px;
	bottom: 100px;
	height: 300px;
	width: 600px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 5px #000000;
}

.message-container {
	padding: 50px;
}

.message-container h1 {
	font-family: 'RalewayThin', Helvetica, sans-serif;
	font-weight: normal;
	font-size: 64px;
	margin: 0px 0px 10px 0px;
}

.message-container p {
	font-family: 'RalewayExtraLight', Helvetica, sans-serif;
	font-weight: normal;
	font-size: 32px;
	margin: 0px;
}